[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pandas = "*"
more-itertools = "*"
bed-to-tabix = {editable = true,path = "."}
termcolor = "*"

[requires]
python_version = "3.6"
